<!-- <footer style="background-color: #ddd;" class="footer">
  <div class="container">
      <p class="footer-copyright" i18n="footer | copyright">© 2017-2019 foundation Aphasia Help</p>
      <p i18n="footer | compliant">This website is compliant to the <a href="https://www.nvlf.nl/stream/richtlijnafasieck18-03.pdf">Logopedische richtlijn Diagnostiek en behandeling van afasie bij volwassenen</a></p>

      <div class="column cc-footer-license">
        <div class="license-icons">
        <a class="text-secondary" rel="license" href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 International license" target="_blank">
          <img src="/assets/images/cc-by-nc.svg" alt="the team"> 
        </a>
        </div>
        <aside>
        <div xmlns:cc="https://creativecommons.org/ns#" about="https://creativecommons.org">
        <p i18n="footer | creative comments">Except where otherwise <a class="subfoot text-secondary" href="/policies#license">noted</a>, content on this site is licensed under a <a class="subfoot text-secondary" href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International license</a>.</p>
        </div>
        </aside>
      </div>
  </div>
</footer> -->

<footer class="docs-footer"
        [class.is-next-version]="isNextVersion">
  <div class="docs-footer-list">
    <div class="docs-footer-logo">
      <p i18n="footer | compliant">
        This website is compliant to the <a href="https://www.nvlf.nl/stream/richtlijnafasieck18-03.pdf">
        Logopedische richtlijn Diagnostiek en behandeling van afasie bij volwassenen</a>
      </p>
      <p i18n="footer | creative comments">Except where otherwise <a class="subfoot text-secondary" href="/policies#license">noted</a>,
        content on this site is licensed under a <a class="subfoot text-secondary" href="https://creativecommons.org/licenses/by/4.0/" rel="license">
          Creative Commons Attribution 4.0 International license</a>.
      </p>
    </div>

    <div class="docs-footer-version">
      <a class="text-secondary" rel="license" href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 International license" target="_blank">
        <img src="/assets/images/cc-by-nc.svg" alt="cc by license"> 
      </a>
    </div>

    <div class="docs-footer-copyright">
      <span>Foundation Aphasia Help ©2017-2019</span>
    </div>
  </div>
</footer>