<h1>Foundation Aphasia Help</h1>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="80%">
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
              <h1>One team, one mission</h1>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image class="img" src="/assets/images/team.png" alt="the team"> 
          <mat-card-content>
              <p>
                  The Mission of Aphasia Help is to promote public awareness and understanding of aphasia and provide support to all persons with aphasia and their caregivers.

                  The ApHe envisions a society in which aphasia is a commonly understood word and where all persons with aphasia, regardless of individual differences,
                  their families, health professionals, and the public have access to appropriate education and resources that would enhance their potential 
                  for an acceptable quality of life.
              </p>
          </mat-card-content>
      </mat-card>
    </div>
  </div>
