<mat-toolbar color="primary" class="mat-elevation-z6">
  <a mat-button routerLink="/" aria-label="Aphasia Help">
    <img class="nav-aphasia-logo"
          src="/assets/images/logo_AphasiaHelp.svg"
          alt="">
  </a>
  <a mat-button routerLink="/exercise" aria-label="Exercise">
    <mat-icon mat-list-icon>school</mat-icon>
    <span mat-line>Exercises</span>
  </a>
  <div class="flex-spacer"></div>
  <a mat-button routerLink="/about" aria-label="About">
    <mat-icon mat-list-icon>info</mat-icon>
    <span mat-line>About</span>
  </a>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon mat-list-icon>more_horiz</mat-icon>
    <span mat-line>More</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/contact" aria-label="Contact">
      <mat-icon mat-list-icon>email</mat-icon>
      <span mat-line>Contact</span>
    </button>
    <button mat-menu-item routerLink="/donate" aria-label="Donate">
      <mat-icon mat-list-icon>monetization_on</mat-icon>
      <span mat-line>Donate</span>
    </button>
    <button mat-menu-item aria-label="API">
      <a href="/swagger-ui.html">
        <mat-icon mat-list-icon>http</mat-icon>
        <span mat-line>API</span>
      </a>
    </button>
  </mat-menu>
  <a mat-button routerLink="/account" aria-label="Account">
    <mat-icon mat-list-icon>account_circle</mat-icon>
    <span mat-line>{{user.id ? 'Logged in' : 'Sign in'}}</span>
  </a>
</mat-toolbar>
  

<!--<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
      <!-- [opened]="!(isHandset$ | async)" --
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" i18n="navigation | home button@@homeButton">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>Home</span>
      </a>
      <a mat-list-item routerLink="/about" i18n="navigation | about button@@aboutButton">
        <mat-icon mat-list-icon>info</mat-icon>
        <span mat-line>About</span>
      </a>
      <a mat-list-item routerLink="/donate" i18n="navigation | donate button@@donateButton">
        <mat-icon mat-list-icon>monetization_on</mat-icon>
        <span mat-line>Donate</span>
      </a>
      <a mat-list-item routerLink="/contact" i18n="navigation | about button@@contactButton">
        <mat-icon mat-list-icon>email</mat-icon>
        <span mat-line>Contact</span>
      </a>
      <a mat-list-item href="/swagger-ui.html" i18n="navigation | api button@@apiButton">
        <mat-icon mat-list-icon>http</mat-icon>
        <span mat-line>API</span>
      </a>
      <a mat-list-item routerLink="/account" i18n="navigation | account button@@accountButton">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <span mat-line>{{user ? 'Logged in' : 'Sign in'}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <!-- *ngIf="isHandset$ | async" --
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>aphasia.help</span>
    </mat-toolbar>
    <!-- To be able to put the content in <app-main-nav> in app.component.html --
    <ng-content></ng-content>
    <app-footer class="mat-typography" fxFlexOffset="auto"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>-->
