<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" i18n="navigation | home button@@homeButton">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>Home</span>
      </a>
      <a mat-list-item routerLink="/about" i18n="navigation | about button@@aboutButton">About</a>
      <a mat-list-item routerLink="/donate" i18n="navigation | donate button@@donateButton">Donate</a>
      <a mat-list-item routerLink="/contact" i18n="navigation | about button@@contactButton">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>aphasia-website</span>
    </mat-toolbar>
    <!-- To be able to put the content in <app-main-nav> in app.component.html -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
