.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav-content .mat-toolbar.mat-primary {
  margin-bottom: 45px;
}

mat-icon {
  margin-right: 10px;
}

/* TODO: fix those !important tags */
/* span.mat-line {
  font-weight: 400 !important;
  font-size: 20px !important;
} */

/* a.mat-button, button.mat-button {
  font-weight: 100;
  font-size: 38px;
  line-height: 38px;
} */
.mat-icon {
  height: inherit;
  width: inherit;
  font-size: 38px;
}

.nav-aphasia-logo {
  height: 55px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

.flex-spacer {
  flex-grow: 1;
}