<div class="container justify-content-center">
    <div class="row">
      <div class="col text-center">
        <mdb-card class="my-5">
          <mdb-card-body>
            <mdb-card-title>
              <h1>Help us, help others</h1>
            </mdb-card-title>
            <mdb-card-content>
                We would love to give you a clear overview about Aphasia (brain injury). 
                You can find easy to understand information about the different diagnoses and forms of Aphasia. 
                If you like you can donate and help others improve their lives with a small donation.
            </mdb-card-content>
          </mdb-card-body>
        </mdb-card>
    </div>
  </div>
</div>