<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="70%">
    <mat-card class="card">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <h1>Help us, help others</h1>
      </mat-card-title>
      <mat-card-content>
        We would love to give you a clear overview about Aphasia (brain injury). 
        You can find easy to understand information about the different diagnoses and forms of Aphasia. 
        If you like you can donate and help others improve their lives with a small donation. 
      </mat-card-content>
    </mat-card>
  </div>
</div>