// Theme
// mat-palette accepts $palette-name, main, lighter and darker variants
$my-theme-primary: mat-palette($mat-light-blue, 700, 300, 900);
$my-theme-accent: mat-palette($mat-indigo);
$my-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

.primaryColorBG {
  background-color: mat-color($my-theme-primary);
}
.accentColorBG {
  background-color: mat-color($my-theme-accent);
}
.warnColorBG {
  background-color: mat-color($my-theme-warn);
}

// Custom font (font-size, line-height and font-weight) https://material.angular.io/guide/typography
//@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Open Sans',
  $headline: mat-typography-level(38px, 60px, 100),
  $body-1: mat-typography-level(24px, 38px, 100)
);
@include angular-material-typography($custom-typography);