<div class="container justify-content-center">
  <div class="row">
    <div class="col">
      <mdb-card>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h1>We help you understand Aphasia</h1>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-content>
            We would love to give you a clear overview about Aphasia (brain disorder). 
            You can find easy to understand information about the different diagnoses and forms of Aphasia. 
            If you like you can start a self-test that will point you to the right training exercises in three simple questions.
          </mdb-card-content>
      
          <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
      <br/>
      <h1>Watch the video to learn more about Aphasia</h1>
    </div>
  </div>
</div>