<div fxLayout="row" fxLayoutAlign="center">
  <div class="container"  fxLayout="column" fxLayoutGap="3%">
    <!-- <img src="/assets/images/logo_AphasiaHelp.png" alt=""  height="60%" width="60%"> -->
    <div *ngIf="user.id === undefined" style="text-align: center;">
      <h1>Please login</h1>

      <div fxLayout="row" fxLayoutGap="3%">
        <a href="/oauth2/authorization/google">
          <mat-card [ngClass]="{'mat-elevation-z8':hoveringGoogle}"
          (mouseover)="hoveringGoogle=true"
          (mouseout)="hoveringGoogle=false">
            <mat-card-header fxLayout="column">
              <mat-card-title>
                <h1>With Google</h1>
              </mat-card-title>
              <mat-card-subtitle>as a patient</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <img src="assets/images/google.svg">
            </mat-card-content>
          </mat-card>
        </a>
        <a href="/oauth2/authorization/orcid">
          <mat-card [ngClass]="{'mat-elevation-z8':hoveringOrcid}"
          (mouseover)="hoveringOrcid=true"
          (mouseout)="hoveringOrcid=false">
            <mat-card-header fxLayout="column">
              <mat-card-title>
                <h1>With ORCID</h1>
              </mat-card-title>
              <mat-card-subtitle>as a professional</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <img src="assets/images/orcid.png">
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>

    <div *ngIf="user.id !== undefined" fxLayout="column" fxLayoutGap="3%">
    <!-- <div fxLayout="column" fxLayoutGap="3%"> -->
      <a href="/logout" mat-raised-button color="warn">Logout</a>
        <mat-card>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            <span mat-line>Username</span>
            <h2 mat-line>{{user.id}}</h2>
            <!-- TODO: <h2 mat-line>{{user.username}}</h2> -->
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
            <span mat-line>User type</span>
            <h2 mat-line>{{ user.scientist ? 'Scientist' : 'User'}}</h2>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon mat-list-icon>perm_identity</mat-icon>
            <span mat-line>ID</span>
            <h2 mat-line>{{user.id}}</h2>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>lock_open</mat-icon>
            <span mat-line>OpenID</span>
            <h2 mat-line>{{user.oid}}</h2>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>settings_input_antenna</mat-icon>
            <span mat-line>OpenID provider</span>
            <h2 mat-line>{{user.oidProvider}}</h2>
          </mat-list-item>
        </mat-list>
      </mat-card>          
    </div>
  </div>
</div>